﻿@model Domain.Entities.LicenceTracking
@{
    ViewData["Title"] = "Create";
    var licences = (IEnumerable<SelectListItem>)ViewBag.Licences;
    var users = (IEnumerable<SelectListItem>)ViewBag.Users;
}

<h1>Create</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LicenceId" class="control-label"></label>
                <select asp-for="LicenceId" class="form-control" asp-items=@licences></select>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class="form-control" asp-items=@users></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

