﻿@model Domain.Entities.Licence

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Licence</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LicenceNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LicenceNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TitleKg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TitleKg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TitleRu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TitleRu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TitleEn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TitleEn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TitleShort)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TitleShort)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LegalAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LegalAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActualAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActualAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TextpayerIdentityNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TextpayerIdentityNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CharterNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CharterNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StateRegCertificate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StateRegCertificate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LicenceDenialPeriod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LicenceDenialPeriod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LicenceDenialPeriodAuto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LicenceDenialPeriodAuto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LicenceReissueReasonPeriod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LicenceReissueReasonPeriod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LicenceDulicateIssuePeriod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LicenceDulicateIssuePeriod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IssueDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IssueDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DuplicateIssueDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DuplicateIssueDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReissueDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReissueDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LicenceAcceptanceDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LicenceAcceptanceDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LicenceSuspensionDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LicenceSuspensionDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LicenceRenewalDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LicenceRenewalDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LicenceCancellationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LicenceCancellationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LicenceType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LicenceType.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EducationalPrograms)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EducationalPrograms.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConclusionOfAuthorizedStateBody)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConclusionOfAuthorizedStateBody.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LicenceProcesses)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LicenceProcesses.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LicencePeriod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LicencePeriod.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InstitutionalLegalForm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InstitutionalLegalForm.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LicenceForm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LicenceForm.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TerritoryLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TerritoryLocation.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LicenceDenialReason)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LicenceDenialReason.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LicenceReissueReason)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LicenceReissueReason.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DuplicateReissueReason)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DuplicateReissueReason.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LicenceRenewal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LicenceRenewal.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImpactMeasures)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImpactMeasures.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Department.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LicenceAcceptance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LicenceAcceptance.Id)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
