﻿@model Domain.Entities.Licence

@{
    ViewData["Title"] = "Edit";
    var licenceTypes = (IEnumerable<SelectListItem>)ViewBag.LicenceTypes;
    var educationalPrograms = (IEnumerable<SelectListItem>)ViewBag.EducationalPrograms;
    var conclAuthStateBody = (IEnumerable<SelectListItem>)ViewBag.ConclusionOfAuthorizedStateBody;
    var licenceProcesses = (IEnumerable<SelectListItem>)ViewBag.LicenceProcesses;
    var licencePeriod = (IEnumerable<SelectListItem>)ViewBag.LicencePeriod;
    var institLegalForm = (IEnumerable<SelectListItem>)ViewBag.InstitutionalLegalForm;
    var licenceForm = (IEnumerable<SelectListItem>)ViewBag.LicenceForm;
    var territoryLocation = (IEnumerable<SelectListItem>)ViewBag.TerritoryLocation;
    var licenceDenialReason = (IEnumerable<SelectListItem>)ViewBag.LicenceDenialReason;
    var licenceReissueReason = (IEnumerable<SelectListItem>)ViewBag.LicenceReissueReason;
    var duplicateReissueReason = (IEnumerable<SelectListItem>)ViewBag.DuplicateReissueReason;
    var impactMeasures = (IEnumerable<SelectListItem>)ViewBag.ImpactMeasures;
    var departments = (IEnumerable<SelectListItem>)ViewBag.Department;
    var licenceRenewal = (IEnumerable<SelectListItem>)ViewBag.LicenceRenewal;
    var licenceAcceptance = (IEnumerable<SelectListItem>)ViewBag.LicenceAcceptance;
}

<h1>Edit</h1>

<h4>Licence</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LicenceNumber" class="control-label"></label>
                <input asp-for="LicenceNumber" class="form-control" />
                <span asp-validation-for="LicenceNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TitleKg" class="control-label"></label>
                <input asp-for="TitleKg" class="form-control" />
                <span asp-validation-for="TitleKg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TitleRu" class="control-label"></label>
                <input asp-for="TitleRu" class="form-control" />
                <span asp-validation-for="TitleRu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TitleEn" class="control-label"></label>
                <input asp-for="TitleEn" class="form-control" />
                <span asp-validation-for="TitleEn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TitleShort" class="control-label"></label>
                <input asp-for="TitleShort" class="form-control" />
                <span asp-validation-for="TitleShort" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LegalAddress" class="control-label"></label>
                <input asp-for="LegalAddress" class="form-control" />
                <span asp-validation-for="LegalAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActualAddress" class="control-label"></label>
                <input asp-for="ActualAddress" class="form-control" />
                <span asp-validation-for="ActualAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TextpayerIdentityNumber" class="control-label"></label>
                <input asp-for="TextpayerIdentityNumber" class="form-control" />
                <span asp-validation-for="TextpayerIdentityNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmailAddress" class="control-label"></label>
                <input asp-for="EmailAddress" class="form-control" />
                <span asp-validation-for="EmailAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CharterNumber" class="control-label"></label>
                <input asp-for="CharterNumber" class="form-control" />
                <span asp-validation-for="CharterNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StateRegCertificate" class="control-label"></label>
                <input asp-for="StateRegCertificate" class="form-control" />
                <span asp-validation-for="StateRegCertificate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LicenceDenialPeriod" class="control-label"></label>
                <input asp-for="LicenceDenialPeriod" class="form-control" />
                <span asp-validation-for="LicenceDenialPeriod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LicenceDenialPeriodAuto" class="control-label"></label>
                <input asp-for="LicenceDenialPeriodAuto" class="form-control" />
                <span asp-validation-for="LicenceDenialPeriodAuto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LicenceReissueReasonPeriod" class="control-label"></label>
                <input asp-for="LicenceReissueReasonPeriod" class="form-control" />
                <span asp-validation-for="LicenceReissueReasonPeriod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LicenceDulicateIssuePeriod" class="control-label"></label>
                <input asp-for="LicenceDulicateIssuePeriod" class="form-control" />
                <span asp-validation-for="LicenceDulicateIssuePeriod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IssueDate" class="control-label"></label>
                <input asp-for="IssueDate" class="form-control" />
                <span asp-validation-for="IssueDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DuplicateIssueDate" class="control-label"></label>
                <input asp-for="DuplicateIssueDate" class="form-control" />
                <span asp-validation-for="DuplicateIssueDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReissueDate" class="control-label"></label>
                <input asp-for="ReissueDate" class="form-control" />
                <span asp-validation-for="ReissueDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LicenceAcceptanceDate" class="control-label"></label>
                <input asp-for="LicenceAcceptanceDate" class="form-control" />
                <span asp-validation-for="LicenceAcceptanceDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LicenceSuspensionDate" class="control-label"></label>
                <input asp-for="LicenceSuspensionDate" class="form-control" />
                <span asp-validation-for="LicenceSuspensionDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LicenceRenewalDate" class="control-label"></label>
                <input asp-for="LicenceRenewalDate" class="form-control" />
                <span asp-validation-for="LicenceRenewalDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LicenceCancellationDate" class="control-label"></label>
                <input asp-for="LicenceCancellationDate" class="form-control" />
                <span asp-validation-for="LicenceCancellationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LicenceTypeId" class="control-label"></label>
                <select asp-for="LicenceTypeId" class="form-control" asp-items="@licenceTypes"></select>
            </div>
            <div class="form-group">
                <label asp-for="EducationalProgramsId" class="control-label"></label>
                <select asp-for="EducationalProgramsId" class="form-control" asp-items=@educationalPrograms></select>
            </div>
            <div class="form-group">
                <label asp-for="ConclusionOfAuthorizedStateBodyId" class="control-label"></label>
                <select asp-for="ConclusionOfAuthorizedStateBodyId" class="form-control" asp-items=@conclAuthStateBody></select>
            </div>
            <div class="form-group">
                <label asp-for="LicenceProcessesId" class="control-label"></label>
                <select asp-for="LicenceProcessesId" class="form-control" asp-items=@licenceProcesses></select>
            </div>
            <div class="form-group">
                <label asp-for="LicencePeriodId" class="control-label"></label>
                <select asp-for="LicencePeriodId" class="form-control" asp-items=@licencePeriod></select>
            </div>
            <div class="form-group">
                <label asp-for="InstitutionalLegalFormId" class="control-label"></label>
                <select asp-for="InstitutionalLegalFormId" class="form-control" asp-items=@institLegalForm></select>
            </div>
            <div class="form-group">
                <label asp-for="LicenceFormId" class="control-label"></label>
                <select asp-for="LicenceFormId" class="form-control" asp-items=@licenceForm></select>
            </div>
            <div class="form-group">
                <label asp-for="TerritoryLocationId" class="control-label"></label>
                <select asp-for="TerritoryLocationId" class="form-control" asp-items=@territoryLocation></select>
            </div>
            <div class="form-group">
                <label asp-for="LicenceDenialReasonId" class="control-label"></label>
                <select asp-for="LicenceDenialReasonId" class="form-control" asp-items=@licenceDenialReason></select>
            </div>
            <div class="form-group">
                <label asp-for="LicenceReissueReasonId" class="control-label"></label>
                <select asp-for="LicenceReissueReasonId" class="form-control" asp-items=@licenceReissueReason></select>
            </div>
            <div class="form-group">
                <label asp-for="DuplicateReissueReasonId" class="control-label"></label>
                <select asp-for="DuplicateReissueReasonId" class="form-control" asp-items=@duplicateReissueReason></select>
            </div>
            <div class="form-group">
                <label asp-for="LicenceRenewalId" class="control-label"></label>
                <select asp-for="LicenceRenewalId" class="form-control" asp-items=@licenceRenewal></select>
            </div>
            <div class="form-group">
                <label asp-for="ImpactMeasuresId" class="control-label"></label>
                <select asp-for="ImpactMeasuresId" class="form-control" asp-items=@impactMeasures></select>
            </div>
            <div class="form-group">
                <label asp-for="DepartmentId" class="control-label"></label>
                <select asp-for="DepartmentId" class="form-control" asp-items=@departments></select>
            </div>
            <div class="form-group">
                <label asp-for="LicenceAcceptanceId" class="control-label"></label>
                <select asp-for="LicenceAcceptanceId" class ="form-control" asp-items=@licenceAcceptance></select>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

