﻿@model IEnumerable<Domain.Entities.Licence>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LicenceNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TitleKg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TitleRu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TitleEn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TitleShort)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LegalAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActualAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TextpayerIdentityNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CharterNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StateRegCertificate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LicenceDenialPeriod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LicenceDenialPeriodAuto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LicenceReissueReasonPeriod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LicenceDulicateIssuePeriod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IssueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DuplicateIssueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReissueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LicenceAcceptanceDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LicenceSuspensionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LicenceRenewalDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LicenceCancellationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LicenceType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EducationalPrograms)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConclusionOfAuthorizedStateBody)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LicenceProcesses)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LicencePeriod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InstitutionalLegalForm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LicenceForm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TerritoryLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LicenceDenialReason)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LicenceReissueReason)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DuplicateReissueReason)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LicenceRenewal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImpactMeasures)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LicenceAcceptance)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LicenceNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TitleKg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TitleRu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TitleEn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TitleShort)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LegalAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActualAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TextpayerIdentityNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CharterNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StateRegCertificate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LicenceDenialPeriod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LicenceDenialPeriodAuto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LicenceReissueReasonPeriod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LicenceDulicateIssuePeriod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IssueDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DuplicateIssueDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReissueDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LicenceAcceptanceDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LicenceSuspensionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LicenceRenewalDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LicenceCancellationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LicenceType.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EducationalPrograms.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConclusionOfAuthorizedStateBody.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LicenceProcesses.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LicencePeriod.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InstitutionalLegalForm.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LicenceForm.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TerritoryLocation.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LicenceDenialReason.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LicenceReissueReason.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DuplicateReissueReason.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LicenceRenewal.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImpactMeasures.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LicenceAcceptance.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
